*{
    margin: 0;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


.header{
    background-color: rgb(255, 255, 255);
    padding: 15px;
 }

.logo{
    margin-left: 15px;
    vertical-align: middle;
}

.name{
    display: inline-block;
    font-size: 30px;
    font-weight: bold;
    vertical-align: middle;
    text-align: center;
    color: black;
}

body{
    background-color: rgb(228, 222, 222);
}
.box{
    width: 800px;
    height: 550px;
    background-color: white;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 5px;
    padding: 0 30px 30px 30px;
}

button{
    height: 30px;
    margin: 20px 0;
    border-radius: 5px;
}

.colbut{
    background-color: rgb(0, 217, 255);
}

h1{
    padding-top: 20px;
}

.task{
    margin-top: 20px;
}

ul{
    list-style: none;
    padding: 15px;
    padding-left: 0px;
}

li{
    padding: 5px;
}

span{
    border-radius: 5px;
    padding: 3px;
    color: white;
}

.blu{
    background-color: rgb(0, 153, 255);
}
 .verde{
     background-color: rgb(11, 107, 11);
 }

 .viola{
     background-color: violet;
 }

 .rosa{
     background-color: pink;
 }

 .orange{
     background-color: orange;
 }

 .giallo{
    background-color: yellowgreen;
 }